<mat-card class="page-content" fxFill>
  <mat-card-content fxFill #tableWrapper>
    <nz-table [nsAutoHeightTable]="70" nzBordered nzShowSizeChanger [nzData]="collectionPoints"
      [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)" [nzShowSizeChanger]="false"
      [nzScroll]="{ x: 'auto'}" [nzSize]="'small'" [nzTableLayout]="'fixed'">
      <thead>
        <tr>
          <th nzWidth="70px">STT</th>
          <th nzColumnKey="name">Tên điểm</th>
          <th>Loại điểm</th>
          <th>Hành động</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of collectionPoints; let i = index">
          <td>{{ i +1 + (pageIndex - 1) * pageSize}}</td>
          <td>{{ data.name }}</td>
          <td>sss</td>
          <td>
            <nz-space>
              <button *nzSpaceItem nz-button nzType="primary" nzSize="small" (click)="showModalEdit()"><span nz-icon
                  nzType="form"></span> Edit
              </button>
              <button *nzSpaceItem nz-button nzType="primary" nzSize="small" (click)="showConfirm()"><span nz-icon
                  nzType="delete"></span> Delete </button>
            </nz-space>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </mat-card-content>

</mat-card>
