<ngx-loading-bar height="2px " color="red"></ngx-loading-bar>
<router-outlet></router-outlet>
<!-- <div *ngIf="usingLayout; then layout else noLayout"></div>

<ng-template #layout>
  <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
  <mat-drawer-container [hasBackdrop]="!isDesktop">
    <mat-drawer [mode]="drawerMode" [opened]="sideBarOpen">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-template>
<ng-template #noLayout>
  <router-outlet></router-outlet>
</ng-template> -->