<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>siufuane fadil</h2>
            <h4>example@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>home</mat-icon>
        {{ "HOME" | translate }}
    </a>
    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/map">
        <mat-icon>map</mat-icon>
        {{ "MENU_MAP" | translate }}

    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/collection-point">
        <mat-icon>map</mat-icon>
        {{ "COLLECTION_POINT" | translate }}
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/datalogger">
        <mat-icon>map</mat-icon>
        {{ "DATALOGGER" | translate }}
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>